html {
     height: 100%;
     font-size: 100%;
 }

 body {
    font-family: 'Anonymous Pro', monospace;
     color: rgb(29,21,16);
     min-height: 100%;
 }
 h4{ font-family: 'Montserrat:200', sans-serif;
      font-weight: lighter;
      font-size: 50px;
    }
 h3{ font-family: 'Anonymous Pro',monospace;
    color:white;
    font-weight: lighter;
  }
 h5{ font-family: 'Nunito', sans-serif;
    color: white;
    font-weight: lighter;
  }


 body.landing {
     background-color: rgb(255,255,255);
 }
 .top-bar{
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    height: 40px;
    width: 100%;
    padding-left: 4rem;
    padding-right: 4rem;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
 }

.brand{
  top: 1px;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 3px;
}

.top-bar-email{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hello{
  position: relative;
  top: 1px;
  margin-right: 8px;
  color: #000;
  font-size: 12px;
  font-weight: 300;
  text-align: right;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
}

.hero-content {
     position: relative;
     min-height: 600px;
     background-repeat: no-repeat;
 }

.hero-title{
  margin-top: 100px;
  padding-left: 4rem;
  font-family:'Montserrat:200', sans-serif;
  font-weight: lighter;
}

  .hero-content .hero-title {
     -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);
     width: 100%;
     text-align: left;
     letter-spacing: 0.5rem;
     text-shadow: none;
 }
.hero-title-rest{
  font-size: 40px;
  padding-top: 2rem;
}
 l{font-size: 144px;font-family:'Montserrat:200', sans-serif;font-style: normal;}
 i{color:rgba(163, 50, 11, 100); font-style:normal;text-shadow:none;}
 b{color:rgba(162, 197, 172, 100);font-style: normal;text-shadow:none}


h4.work{
  margin-top: 180px;
  margin-bottom: -7px;
  padding-left: 4rem;
}

 .hero-work {
   height: 500px;

 }
.jumble, .mentor {
  width: 49%;
  height: 500px;
  display: inline-block;
}
.mentor{
  background-image: url(../images/portfolio-mentor-me.png);
  background-repeat: no-repeat;
  background-size: cover;
}

h3{
  padding: 30px;
  margin: 0;
}

.mentor h3{
text-align: right;
}
.jumble{
  background-image: url(../images/portfolio-storage-jumble.png);
  background-repeat: no-repeat;
  background-size: cover;
}

h3{
  padding: 30px;
  margin: 0;
}

.jumble h3{
text-align: right;
}

h4.what{
  margin-top: 180px;
  margin-bottom: -7px;
  padding-left: 4rem;
}

.whatido {
    position: relative;
    display: table;
    width: 100%;
    background-color: rgba(163, 50, 11, 100);
    height:400px;
}
*, *::before, *::after {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }

.do-title{
  color: rgb(white);
  font-size: 5rem;
  padding: 20px;
}
.do-description{
  color:white;
  font-size: 16px;
  padding: 20px;
}
.do-sentence{
  color:white;
  font-size: 16px;
  display: block;
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

h4.say-hi{
  margin-top: 180px;
  margin-bottom: -8px;
  padding-left:4rem;
}

.about-me{
  background: url(../images/portfolio-photo.jpg) right no-repeat;
  background-size: 400px 400px, cover;
  background-position: right bottom;
  height:400px;
  width:auto;
  background-color: rgba(162, 197, 172, 100);
}
.title{
  font-size: 32px;
  font-weight:lighter;
  width: 450px;
  padding-top:2rem;
  padding-left: 4rem;
}
.description, .learn-more{
  font-size: 16px;
  line-height: 1.4em;
  min-width: 350px;
  max-width:450px;
  padding-left:4rem;
}


.footer{
    background-color: rgba(29, 21, 16, 100);
    height: 150px;
    padding-top: 20px;
  }
.my-email{
    display: block;
    color: white;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
  }
  .resume-link{
    color: white;
    display: block;
    max-width: 720px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .social-media{
    display: flex;
    margin-top: 16px;
    color: white;
    justify-content: space-around;
  }
  .p-tiny-contact-links{
    margin-right: 32px;
    margin-left: 32px;
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-decoration: underline;
  }



    @media (min-width: 640px) {
        html { font-size: 112%; }
    }

    @media (min-width: 1024px) {
        html { font-size: 120%; }
    }
